header {
  background-color: lightblue;
}

header .container {
  height: 70px;
}

header .container ul {
  height: 100%;
  font-size: 20px;
  align-items: center;
}

header .container ul li {
  padding-right: 30px;
}

header .container ul li a:hover {
  transition: 0.3s;
  color: pink;
}

header .container .current {
  color: rgb(208, 80, 101);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1170px;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.cards {
  padding: 50px 0;
}

.cards ul {
  flex-wrap: wrap;
}

.cards ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
}

.cards ul li img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.card-details img {
  width: 192px;
}

.card-details h2 {
  text-transform: uppercase;
  padding: 20px 0;
}

.card-details p {
  width: 60%;
  padding: 0 30px;
}

.card-details .detail-mini-title {
  font-weight: 700;
  font-size: 20px;
}

.card-details .sale-date .detail-mini-title {
  color: red;
}

.card-details .price,
.card-details .series,
.card-details .sale-date {
  padding: 10px 0;
}

.create-comics-form h2 {
  padding: 20px 0;
}

.create-comics-form label {
  padding: 10px 0;
  display: inline-block;
  width: 150px;
}

.create-comics-form input {
  width: 300px;
  border: transparent;
  border-bottom: 2px solid rgb(224, 220, 221);
}

.create-comics-form input:focus {
  outline: none;
}

.create-comics-form button {
  background-color: pink;
  margin: 20px 0;
  padding: 6px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 1s;
}

.create-comics-form button:hover {
  color: white;
  transition: 0.5s;
  background-color: lightblue;
}

.create-comics-form textarea {
  width: 300px;
  border: transparent;
  border-bottom: 2px solid rgb(224, 220, 221);
}

.create-comics-form textarea:focus {
  outline: none;
}

